@import url("common.css");

#root {
  width: 100%;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
}

header {
  .btn_back {
    background: url("../images/icon_bak.svg") no-repeat center/contain;
    width: 1.5rem;
    height: 1.5rem;
    display: block;
  }
  .btn_setting {
    background: url("../images/icon_setting.svg") no-repeat center/contain;
    width: 1.5rem;
    height: 1.5rem;
    display: block;
  }
  .btn_bell {
    background: url("../images/icon_bell.svg") no-repeat center/contain;
    width: 1.5rem;
    height: 1.5rem;
    display: block;
  }
  .btn_bell_active {
    background: url("../images/icon_bell_active.svg") no-repeat center/contain;
    width: 1.5rem;
    height: 1.5rem;
    display: block;
  }
  .btn_profile {
    background: url("../images/icon_profile.svg") no-repeat center/1.5rem;
    width: 2.25rem;
    height: 2.25rem;
    display: block;
    background-color: #f6f6f6;
    border-radius: 999px;
  }
}

.wrap {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  border: 5px dashed #bbb;
}

.cardList {
  .capsule {
  }

  .rounding {
    border-radius: 0.5rem;
    padding: 0.125rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #fff;
    z-index: 5;
    padding: 0.5rem;

    li {
      z-index: 10;
    }

    &::before {
      content: "";
      border-radius: 0.5rem;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      background: #fff;
      z-index: 1;
      margin: 0.125rem;
    }

    &::after {
      content: "";
      background: linear-gradient(135deg, #ff4bc1, #ffffff);
      border-radius: 0.5rem;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      z-index: 0;
      box-shadow: 6px 6px 5px 0px rgba(255, 75, 93, 0.2);
    }

    .persons {
      color: #5d5d5d;
    }
  }
}
